{% extends 'clientes/base.html' %}

{% block content %}
    <h1>Lista de Clientes</h1>
    <table border="1" cellpadding="5" cellspacing="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Data Nascimento</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.data_nascimento }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum cliente cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}